/* author: Melanie E Magdalena
https://codepen.io/m2creates/pen/EEvGgW */
@charset "UTF-8";

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  width: 100% !important;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.backRight {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #03A9F4;
}

.backLeft {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
}
.image{
  position: relative;
  width:100%;
  height:100%;
}

#back {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999;
}

.canvas-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#slideBox {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.topLayer {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%;
}

label {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  color: #0367a6;
}

input {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1em;
  padding: 8px 1px;
  margin-top: 0.1em;
  background: transparent;
  border-bottom-color: solid #0367a6;
  transition: 0.5s;
  /* background-color: #cab8f5; */
}
input:focus{
  transform: scale(1.1);
  border-bottom: solid #0367a6;
}

.left {
  width: 50%;
  height: 100%;
  overflow: scroll;
  background: #2C3034;
  left: 0;
  position: absolute;
}
.left label {
  color: #e3e3e3;
}
.left input {
  border-bottom: 1px solid #e3e3e3;
  color: #e3e3e3;
}
.left input:focus, .left input:active {
  border-color: #03A9F4;
  color: #03A9F4;
}
.left input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #2C3034 inset;
  -webkit-text-fill-color: #e3e3e3;
}
.left a {
  color: #03A9F4;
}

.right {
  width: 50%;
  height: 100%;
  /* overflow: scroll; */
  background:linear-gradient(#00000025,rgba(0, 0, 139, 0.349));
  right: 0;
  position: absolute;
}
.right label {
  color: #212121;
}
.right input {
  border-bottom: 1px solid #212121;
}
.right input:focus, .right input:active {
  border-color: #0367a6;
}
.right input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f9f9f9 inset;
  -webkit-text-fill-color: #212121;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 82%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin-top: 0%;
}

.content h2 {
  font-weight: 300;
  font-size: 1.5em;
  margin: 0.2em 0 0.1em;
  text-transform: uppercase;
  margin-bottom: 6%;
  background-color: #0367a6;
  text-align: center;
}

.right .content h2 {
  color: #ffffff;
  font-weight: normal;
}

.form-element {
  margin: 1.6em 0;
}

.form-stack {
  display: flex;
  flex-direction: column;
}

.checkbox {
  outline: none;
  background-color: #e3e3e3;
  border: 1px solid #e3e3e3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 12px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.checkbox:focus, .checkbox:checked:focus,
.checkbox:active, .checkbox:checked:active {
  border-color: #03A9F4;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.checkbox:checked:after {
  outline: none;
  content: "✓";
  color: #03A9F4;
  font-size: 1.4em;
  font-weight: 900;
  position: absolute;
  top: -4px;
  left: 4px;
}

.form-checkbox {
  display: flex;
  align-items: center;
}
.form-checkbox label {
  margin: 0 6px 0;
  font-size: 0.72em;
}

.button{
text-transform: uppercase;
color: #fff;
margin-left: 10%;
margin-top: 5%;
background-color: #0367A6;
padding-left: 34%;
padding-right:34%;
transition: 0.6s;
width: auto;
font-weight: 300;
font-size: 1em;
line-height: 1em;
letter-spacing: 0.6px;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
border: 0;
outline: 0;
transition: 0.6s;
}

.button:hover{
  transform: scale(1.1);
  background: #512DA8;
  border-radius: 10%;
}

@media only screen and (max-width: 768px) {
  #slideBox {
    width: 80%;
    margin-left: 20%;
  }

  .signup-info, .login-info {
    display: none;
  }
}
/* modification personnel */
select{
  border-top:none ; 
  border-left: none;
  border-right: none;
  /* background-color: #cab8f5; */
  background: transparent;
  margin-top: 5%;
  transition: 0.5s;
}
select:focus{
  transform: scale(1.1);
  border-bottom: solid #0367a6; 
}